<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Training">
  <listeners>
  </listeners>
  <test name="Allure Reports Example Edge">
    <classes>
      <class name="org.miamato.BuyPet" />
    </classes>
  </test>
</suite> <!-- Suite -->